<!-- views/partials/header.ejs -->

<style>
    .vertical-center {
        min-height: 100%;
        min-height: 100vh;

        display: flex;
        align-items: center;
    }

<<<<<<< HEAD
=======
    /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
    @media screen and (min-width: 1201px) {
        .jumbotron h1 {
        font-size: 4rem;
        }
        .jumbotron p {
        font-size: 1.75rem;
        }
        .navbar a {
        font-size: 1.5rem;
        }
    }

    /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
    @media screen and (max-width: 1200px) {
        #mobile-only-visible .jumbotron h1 {
        font-size: 10rem;
        }
        #mobile-only-visible .jumbotron p {
        font-size: 5rem;
        }
        #mobile-only-visible .jumbotron a {
        font-size: 3rem;
        }
        #mobile-only-visible .navbar a {
        font-size: 4rem;
        }
    }

>>>>>>> parent of 0f88621... templating
    </style>

<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Parking Project</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger disabled" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger disabled" href="#signup">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>