<html>
<head>
    <meta charset="utf-8">
    <% include ../partials/head %>
    
</head>
<header>
    <% include ../partials/header %>
</header>
<body>
    <section class="home">
    <div id="mobile-only-visible" class="jumbotron vertical-center" style="height: 100vh; margin-bottom: 0px">
        <div class="container text-center">
            <h1 class="display-1">Integrated Parking System</h1>
            <p class="lead">Here, you can see the parking spot live status.</p>
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Check out parking spot!
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="veteran">Jl. Veteran</a>
                  <a class="dropdown-item disabled" href="#">Jl. Soekarno Hatta</a>
                  <a class="dropdown-item disabled" href="#">Jl. Ahmad Yani</a>
                </div>
            </div>
        </div>
    </div>
    
    
    </section>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>